<div>
  <%= link_to "获取最新js文件", controller: "json", action: "read_remote" %><br/>
  <br/>
  <%= link_to "获取最新js文件,并保存为java文件", controller: "json", action: "write" %>
  <p> 历史版本 </p>
  <% @files.each do |file| %>
    <%= link_to file, controller: "json", action: "show", date: file%><br/> 
  <% end %>
  <p> 版本比较</p>
  <form action="/diff" method="get">
    上一版本：
    <input type="text" name="before" value=<%=  @files.count > 1 ? @files[@files.size() -2].to_s : nil.to_s %> /><br/>
    现在版本：
    <input type="text" name="now" value="<%=@files.last.to_s %>" /><br/>
    <input type="submit" value="提交" />
  </form>
</div>
